<h1>showing selected article</h1>

<p>title: <%= @article.title %> </p>

<p> Description: <%= @article.description %> </p>

<p><%= link_to "edit", edit_article_path(@article) %></p>
<p><%= link_to "back to index", articles_path %></p>
